.edit-container {
  display: flex;
  flex-direction: column;
}

.edit-container > label {
  margin-bottom: 0.5rem;
  color: var(--text-secondary);
  font-size: 12px;
}

.edit-input {
  color: var(--text-primary);
  padding: 8px;
  font-size: 14px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.textarea {
  resize: vertical;
}
