.edit-container {
  display: flex;
  flex-direction: column;

  .gl-edit {
    &.gl-color-picker {
      :nth-child(1) {
        flex-grow: 1;
      }
      .color-picker {
        width: 50px;
        input {
          padding: 0 6px;
          height: 80%;
        }
      }
    }
  }
}
