.card {
  margin: 8px;
}

.container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: center;
}

.badge-item {
  padding: 4px 8px;
  border-radius: 4px;
  width: min-content;
  color: aliceblue;
  display: flex;

  > .gl-button {
    height: 12px;
  }
}
