@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --text-primary: #1f2937;
  --text-secondary: #6b7280;
  --border-color: #e5e7eb;
  --background-color: #ffffff;
  --background-color-secondary: #f6f6f6;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  background-color: var(--background-color-secondary);
  /* font-family: "Ubuntu Mono", monospace; */
}
