#event-edit {
  .container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;
  }

  .field-group {
    width: 100%;
  }

  @media (max-width: 900px) {
    .container {
      padding: 8px;
    }
  }

  @media (max-width: 600px) {
    .container {
      padding: 4px;
    }
    .field-group h2 {
      font-size: 1.1rem;
    }
  }

  .modal-content {
    height: 500px;
    max-width: 600px;
    width: 100%;
  }

  .modal-body {
    height: 450px;
    overflow-y: auto;
  }

  @media (max-width: 700px) {
    /* .modal-content {
      width: 100dvw;
      height: 100dvh;
      max-width: 100dvw;
      max-height: 100dvh;
      border-radius: 0;
      padding: 16px 8px 8px 8px;
    }
    .modal-body {
      height: calc(100dvh - 60px);
      max-height: calc(100dvh - 60px);
    } */
  }

  /* .c-modal-lookup .edit-container {
    padding-top: 15px;
  } */
}
